{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block content %}

<section class="checkout-wrapper section">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-8">
<div class="checkout-steps-form-style-1">
<ul id="accordionExample">
<li>
<h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Your Personal Details </h6>
<section class="checkout-steps-form-content collapse show" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
<div class="row">
<div class="col-md-12">
<div class="single-form form-default">
<form method="POST" class = "form-input">
    {{form.as_p}}
    {% csrf_token %}
<div class="col-md-12">
<div class="single-form button">
<button type ="submit" class="btn" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Create Product</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>



{% endblock %}